<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimal-ui">
    <meta name="keywords" content="FirstAndLast, first and last, Rodo Andrade">
    <meta name="description" content="This a web mobile game website">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="Rodo Andrade">
    <!-- LinkedIn: https://www.linkedin.com/in/rodoandrade/-->

    <!-- This is so the game stays fullScreen -->
    <link rel="stylesheet" href="/GameStyles/Custom/FirstAndLast.css">
    <link rel="icon" href="/GameAssets/images/Ico/Warrior3.ico">
    <title>First And Last</title>
</head>

<body id="game">

    <!-- Client code -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script src="/GameJs/client.js"></script>
    <!-- GameJS is a virtual path to the the Main Game Folder -->
    <!-- Phaser -->
    <script src="/ThirdPartyLibs/phaser.js"></script>
    <script src="/GameJs/Preload.js"></script>
    <script src="/GameJs/Create.js"></script>
    <script src="/GameJs/WarriorPlayerCreate.js"></script>
    <script src="/GameJs/ArcherPlayerCreate.js"></script>
    <script src="/GameJs/MagePlayerCreate.js"></script>
    <script src="/GameJs/Update.js"></script>
    <script src="/GameJs/MagePlayerUpdate.js"></script>
    <script src="/GameJs/ArcherPlayerUpdate.js"></script>
    <script src="/GameJs/WarriorPlayerUpdate.js"></script>
    <script src="/GameJs/GameMenu.js"></script>
    <script src="/GameJs/FirstAndLast.js"></script>
</body>

</html>